<h1>Log in form</h1>

<form action="" method="POST" class="">
  <div class="form-group">
    <label for="my_email">User ID / E-mail</label>
    <input name="my_email" id="my_email" type="email" placeholder="Enter your e-mail address"/>
  </div>
  <br/>
  <div class="form-group">
    <label for="my_password">Password</label>
    <input name="my_password" id="my_password" type="email" placeholder="Enter your password"/>
  </div>
  <br/>
  <div class="form-group">
    <input type="submit" class="btn-sm btn-primary" value="Log in"/>
    <input type="reset" class="btn-sm btn-secondary" value="Reset form"/>
  </div>
</form>
<br/>
<hr/>
<br/>
<a href="<%=sessions_create_path%>">Aller vers la création</a>
